---
import Layout from "../layouts/Layout.astro";
import PageHeader from "../components/PageHeader.astro";
---

<Layout title="contact">
  <PageHeader title="" desc="contact" next="home" prev="faq" />
  <main>
    <div class="container">
      <section class="returning">
        <h3>returning patients</h3>
        <hr />
        <a href="https://bchwbooking.clientsecure.me/">
          <button>book appointment</button></a
        >
      </section>
      <section class="new">
        <h3>new patients</h3>
        <hr />
        <p>
          Please fill out the form below and we will get back to you as soon as
          possible!
        </p>

        <form id="contact-form">
          <label for="name"></label>
          <input type="text" name="name" placeholder="name" />
          <label for="email"></label>
          <input type="email" name="email" placeholder="email" />
          <label for="subject"></label>
          <input type="text" name="subject" placeholder="subject" />
          <label for="message"></label>
          <input type="text" name="message" placeholder="message" />
          <button class="sub-but" type="submit">submit</button>
        </form>
      </section>
    </div>
  </main>
</Layout>
<style>
  /* h3 {
    border-bottom: 1px solid black;
  } */
  hr {
    margin: 0;
  }
  button {
    width: 100%;
  }
  a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .container {
    display: flex;
    flex-direction: column;
    padding: 0 20%;
    min-height: calc(100vh - var(--base-padding));
    text-align: center;
  }

  .sub-but {
    margin-top: 1rem;
  }

  input {
    border: none;
    background: none;
    font-size: 1rem;
    height: 1.4rem;
    background-color: rgb(242, 242, 245);
  }

  input:focus {
    outline: none;
  }

  .returning {
    margin-top: var(--base-padding);
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .new {
    margin-top: calc(var(--base-padding) * 3);
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  form {
    display: flex;
    flex-direction: column;
  }
</style>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"
></script>
<script>
  import emailjs from "@emailjs/browser";

  async function connectToEmailJs() {
    try {
      emailjs.init(import.meta.env.PUBLIC_KEY);
      console.log(emailjs);
    } catch (error) {
      console.error(error);
    }
  }

  connectToEmailJs();

  const contactForm = document.getElementById(
    "contact-form"
  ) as HTMLFormElement;
  console.log(contactForm);
  contactForm.addEventListener("submit", async (e) => {
    // code fragment
    e.preventDefault();

    emailjs
      .sendForm(
        import.meta.env.PUBLIC_SERVICE,
        import.meta.env.PUBLIC_TEMPLATE,
        e.target as HTMLFormElement
      )
      .then(
        function (response) {
          alert("We will get back to you as soon as possible. Thank you!");
          console.log("SUCCESS!", response.status, response.text);
        },
        function (error) {
          alert("Sorry, something went wrong!");
          console.log("FAILED...", error);
        }
      );
    contactForm.reset();
  });
</script>
