---
import Layout from "../layouts/Layout.astro";
import PageHeader from "../components/PageHeader.astro";
---

<Layout title="contact">
  <PageHeader title="contact" desc="contact us" next="home" prev="faq" />
  <h1>Contact Form Coming Soon!</h1>
</Layout>
