---
import Layout from "../layouts/Layout.astro";
import PageHeader from "../components/PageHeader.astro";
---

<Layout title="contact">
  <PageHeader title="contact" desc="us" next="home" prev="faq" />
  <div class="container">
    <section class="returning">
      <h3>Returning Patients</h3>
      <p>Follow the link below</p>
      <button>Book Appointment</button>
    </section>
    <section class="new">
      <h3>New Patients</h3>
      <p>
        Please fill out the form below and we will get back to you as soon as
        possible!
      </p>
      <div class="form-container">
        <form id="contact-form">
          <input type="text" name="name" placeholder="name" />
          <input type="email" name="email" placeholder="email" />
          <input type="text" name="subject" placeholder="subject" />
          <input type="text" name="message" placeholder="message" />
          <button type="submit">Submit</button>
        </form>
      </div>
    </section>
  </div>
</Layout>
<style>
  .container {
    /* margin: 0 2rem 0 2rem; */

    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 100% 50vw;
    grid-template-areas:
      "returning"
      "new";
  }

  p {
    padding: 0 var(--base-padding) 0 var(--base-padding);
  }
  .returning {
    grid-area: "returning";
  }

  .new {
    grid-area: "new";
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .form-container {
    display: flex;
    align-items: center;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  section {
    width: 100vw;
    text-align: center;
    padding: var(--base-padding);
  }

  input {
    background: none;
    border: none;
    border-bottom: 1px solid black;
  }
</style>
<script
  type="text/javascript"
  src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"
></script>
<script>
  import emailjs from "@emailjs/browser";

  async function connectToEmailJs() {
    try {
      emailjs.init(import.meta.env.PUBLIC_KEY);
      console.log(emailjs);
    } catch (error) {
      console.error(error);
    }
  }

  connectToEmailJs();

  const contactForm = document.getElementById(
    "contact-form"
  ) as HTMLFormElement;
  console.log(contactForm);
  contactForm.addEventListener("submit", async (e) => {
    // code fragment
    e.preventDefault();

    // emailjs
    //   .sendForm(
    //     import.meta.env.PUBLIC_SERVICE,
    //     import.meta.env.PUBLIC_TEMPLATE,
    //     e.target as HTMLFormElement
    //   )
    //   .then(
    //     function (response) {
    //       console.log("SUCCESS!", response.status, response.text);
    //     },
    //     function (error) {
    //       console.log("FAILED...", error);
    //     }
    //   );
    contactForm.reset();
  });
</script>
