---
import Layout from "../layouts/Layout.astro";

import PageHeader from "../components/PageHeader.astro";
---

<Layout title="FAQ">
  <PageHeader
    title="frequently"
    desc="asked questions"
    next="contact"
    prev="treatments"
  />
  <div class="container">
    <section class="bp">
      <h2>Insurance</h2>
      <p>
        Mariposa Wellness is an out-of-network outpatient physical therapy
        provider. This means that the client is responsible for paying the full
        fee at the time of service. We will issue a superbill that can be
        submitted by the client to their insurance for direct reimbursement.
        Each insurance company and plan is different. We recommend contacting
        your insurance company directly to find out what your coverage is for
        “outpatient physical therapy.”
      </p>
    </section>
    <section class="bp">
      <h2>Fees</h2>
      <ul class="bp">
        <li>90 Min Evaluation: $405</li>
        <li>55 minute treatment: $220</li>
      </ul>
      <p>
        <h4>Accessibility Rates</h4>
        At Mariposa Wellness we understand the exceptional cost of medical care especially
        for folks looking to find solutions for health and healing outside of the
        traditional medical model. Because of this we keep 15% of our schedule available
        for folks needing treatment but unable to pay the full cost. If you are interested
        this option please
      </p>
    </section>
    <section class="bp">
      <h2>Cancellation Policy</h2>
      <p>
        Cancellations must be received with in 48hrs of the scheduled
        appointment. The full session amount will be charged for cancellations
        received later than 48hrs.
      </p>
    </section>
    <section class="bp">
      <h2>Medicare</h2>
      <p>
        Mariposa Wellness is not a participating provider with medicare. If you
        are a medicare recipient and interested in receiving our services, we
        can see you as a “wellness” client. This means you will not be issued a
        superbill for submitting to insurance.
      </p>
    </section>
  </div>
</Layout>
<style>
  h2,
  h4 {
    font-family: "Manrope", sans-serif;
  }

  .container {
    margin-bottom: 4rem;
  }
</style>
