---
import { Picture, Image } from "@astrojs/image/components";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import PageHeader from "../components/PageHeader.astro";
import remoteImage from "../images/eight.jpg";
import CldImage from "../components/CldImage.astro";
---

<Layout title="Welcome to Mariposa Wellness">
  <PageHeader
    title="Integrative Manual Therapy"
    desc=" & Pelvic Health"
    next="about"
    prev="services"
  />
  <main>
    <figure>
      <Picture
        aspectRatio="4:3"
        src={remoteImage}
        widths={[200, 400, 800, 1000, 3600]}
        sizes="100vw"
        alt="Marisa with Patient"
      />
      <!-- <CldImage
        src="eight_lmmlwq"
        height={"500"}
        width={"1000"}
        alt={"Some alt text"}
      /> -->
      <figcaption id="main-heading">
        <h1>
          <span class="white">mariposa</span>
          <br /><span>wellness</span>
        </h1>
      </figcaption>
    </figure>

    <section>
      <p>
        At Mariposa Wellness I combine a variety of manual medicine modalities
        to treat the whole person
      </p>
      <p>
        With an expertise in Pelvic Health and almost 20 years experience as a
        physical therapist my goal is to provide treatment to enhance your
        overall movement and function while empowering you with knowledge
        regarding your body and particular condition and techniques for self
        care.
      </p>
    </section>

    <section id="ask">
      <button>I would like to become a new patient.</button>
      <button>I would like to book an appointment.</button>
    </section>
  </main>
</Layout>

<style>
  h3 {
    font-weight: 600;
  }

  #ask {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    padding-bottom: 2rem;
  }

  figure {
    margin-bottom: 4rem;
  }

  #main-heading {
    margin-top: -5rem;
    line-height: 1.25rem;
    text-align: right;
    padding-right: var(--base-padding);
  }

  p:first-of-type {
    padding-bottom: 0;
    /* font-size: large; */
  }

  p {
    padding: 1rem calc(2 * var(--base-padding));
    line-height: 1.5rem;
    font-weight: 400;
  }

  img {
    width: 100%;
  }

  main {
    height: 100vh;
    padding-bottom: 4rem;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
</style>
<script defer>
  const subNav = document.querySelector("#sub-nav");
  function fadeOutOnScroll(element) {
    if (!element) {
      return;
    }

    let distanceToTop =
      window.pageYOffset + element.getBoundingClientRect().top;

    let elementHeight = element.offsetHeight;
    let scrollTop = document.documentElement.scrollTop;

    console.log({ distanceToTop, elementHeight, scrollTop });

    let opacity = 1;

    if (scrollTop > distanceToTop) {
      opacity = 1 - (scrollTop - distanceToTop) / elementHeight;
    }

    if (opacity >= 0) {
      element.style.opacity = opacity;
    }
  }
  function scrollHandler() {
    fadeOutOnScroll(subNav);
  }

  window.addEventListener("scroll", scrollHandler);
</script>
