---
import Layout from "../layouts/Layout.astro";
import { Picture } from "@astrojs/image/components";
import PageHeader from "../components/PageHeader.astro";

const pevlFloor =
  "https://res.cloudinary.com/dmstif28x/image/upload/v1679761122/stom2_oazftp.jpg";
---

<Layout title="treatments">
  <PageHeader
    title="treatments"
    desc="some treatments"
    next="faq"
    prev="services"
  />
  <div class="content">
    <section class="bp">
      <h2>Title</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem
        consectetur fuga iure. Sapiente, reiciendis velit molestiae quas quis
        maxime suscipit iure exercitationem ab minima asperiores cum, rem,
        deserunt laborum deleniti!
      </p>
      <a href=""><span>Link</span></a>
    </section>
    <section class="bp">
      <h2>Title</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem
        consectetur fuga iure. Sapiente, reiciendis velit molestiae quas quis
        maxime suscipit iure exercitationem ab minima asperiores cum, rem,
        deserunt laborum deleniti!
      </p>
      <a href=""><span>Link</span></a>
    </section>
    <section>
      <div class="picture">
        <Picture
          src={pevlFloor}
          widths={[200, 400, 800, 1000, 2400]}
          aspectRatio="4:3"
          sizes="100vw"
          alt="Marisa with Patient"
        />
      </div>

      <h2 class="bp">Title</h2>
      <p class="bp">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem
        consectetur fuga iure. Sapiente, reiciendis velit molestiae quas quis
        maxime suscipit iure exercitationem ab minima asperiores cum, rem,
        deserunt laborum deleniti!
      </p>
      <a href=""><span class="bp">Link</span></a>
    </section>
    <section>
      <Picture
        src={pevlFloor}
        widths={[200, 400, 800, 1000, 2400]}
        aspectRatio="4:3"
        sizes="100vw"
        alt="Marisa with Patient"
      />
      <h2 class="bp">Title</h2>
      <p class="bp">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem
        consectetur fuga iure. Sapiente, reiciendis velit molestiae quas quis
        maxime suscipit iure exercitationem ab minima asperiores cum, rem,
        deserunt laborum deleniti!
      </p>
      <a href=""><span class="bp">Link</span></a>
    </section>
    <Picture
      src={pevlFloor}
      widths={[200, 400, 800, 1000, 2400]}
      aspectRatio="4:3"
      sizes="100vw"
      alt="Marisa with Patient"
    />
  </div>
</Layout>
<style></style>
