<footer>
  <a href="/"><span>home</span></a>
  <a href="/about"><span>about</span></a>
  <a href="/treatments"><span>treatments</span></a>
  <a href="/services"><span>services</span></a>
  <a href="/faq"><span>faq</span></a>
  <a href="/contact"><span>contact</span></a>
</footer>
<style>
  footer {
    display: flex;
    justify-content: space-between;
    height: 4rem;
    /* width: 100vw;
    padding: var(--base-padding) calc(var(--base-padding) * 2); */
  }
  span {
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    font-size: smaller;
  }

  span:hover {
    opacity: 0.6;
  }
</style>
