---
let visible = false;
---

<header>
  <div id="overlaid-menu" class="hidden">
    <ul>
      <a href="/"><li><h2>home</h2></li></a>
      <a href="/about"> <li><h2>about</h2></li></a>
      <a href="/treatments"> <li><h2>treatments</h2></li></a>
      <a href="/services"> <li><h2>services</h2></li></a>
      <a href="/faq"> <li><h2>faq</h2></li></a>
      <a href="/contact"> <li><h2>contact</h2></li></a>
    </ul>
  </div>
  <div id="burger-box">
    <label class="hamburger-menu">
      <input type="checkbox" />
    </label>
  </div>

  <a href="/contact"><span>contact</span></a>
</header>

<div id="name">
  <h1>mariposa</h1>
  <h1>wellness</h1>
</div>

<style>
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  ul {
    margin-top: 3rem;
    padding: var(--base-padding);
  }

  li {
    list-style: none;
    margin-bottom: 0.5rem;
  }

  h2 {
    font-weight: 100;
  }

  h2:hover {
    opacity: 0.4;
  }

  #overlaid-menu {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    width: 100vw;
    height: 100vh;
  }

  #name {
    text-align: center;
    font-family: "Manrope", sans-serif;
    margin-top: -3rem;
  }

  #burger-box,
  span {
    width: 25%;
  }

  h1 {
    line-height: 1.3rem;
    font-size: 1.3rem;
    font-weight: 200;
  }

  header span {
    font-weight: 800;
    font-size: smaller;
    text-align: right;
  }
  header span:hover {
    opacity: 0.6;
  }
  header {
    height: 4rem;
    font-family: "Manrope", sans-serif;
    --bar-width: 20px;
    --bar-height: 2px;
    --hamburger-gap: 4px;
    --foreground: #333;
    --background: white;
    --hamburger-margin: 2rem;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--base-padding) var(--base-padding) 0;
    position: sticky;
    top: 0;
  }
  .hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;

    cursor: pointer;
  }

  .hamburger-menu:has(input:focus-visible)::before,
  .hamburger-menu:has(input:focus-visible)::after,
  .hamburger-menu input:focus-visible {
    border: 1px solid var(--background);
    box-shadow: 0 0 0 1px var(--foreground);
  }

  .hamburger-menu::before,
  .hamburger-menu::after,
  .hamburger-menu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing),
      rotate var(--animation-timing), translate var(--animation-timing),
      background-color var(--animation-timing);
  }

  .hamburger-menu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
  }

  .hamburger-menu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
  }

  .hamburger-menu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
  }

  .hamburger-menu input:checked {
    opacity: 0;
    width: 0;
  }
</style>
<script defer>
  const name = document.querySelector("#name");
  function fadeOutOnScroll(element) {
    if (!element) {
      return;
    }

    let distanceToTop =
      window.pageYOffset + element.getBoundingClientRect().top;

    let elementHeight = element.offsetHeight;
    let scrollTop = document.documentElement.scrollTop;

    console.log({ distanceToTop, elementHeight, scrollTop });

    let opacity = 1;

    if (scrollTop > distanceToTop) {
      opacity = 1 - (scrollTop - distanceToTop) / elementHeight;
    }

    if (opacity >= 0) {
      element.style.opacity = opacity;
    }
  }
  function scrollHandler() {
    fadeOutOnScroll(name);
  }

  window.addEventListener("scroll", scrollHandler);

  // visibility logic

  const menu = document.querySelector("#overlaid-menu");
  const contact = document.querySelector("span");
  const burger = document.querySelector("input");
  burger.addEventListener("click", (e) => {
    menu.classList.toggle("hidden");
    menu.classList.toggle("fade-out");
    contact.classList.toggle("hidden");
  });
</script>
