---
export interface Props {
  title: string;
  desc: string;
  prev: string;
  next: string;
}

const { title, desc, prev, next } = Astro.props;
---

<header id="sub-nav">
  <h3>{title}<br /> {desc}</h3>
  <nav>
    <div>
      <a href={`/${prev === "home" ? "" : prev}`}><span> ← {prev}</span></a>
    </div>
    <div>
      <a href={`/${next === "home" ? "" : next}`}><span>{next} →</span></a>
    </div>
  </nav>
</header>

<style>
  nav {
    text-align: right;
    font-style: italic;
    font-weight: 100;
    font-size: 1.3rem;
  }

  nav span:hover {
    opacity: 0.6;
  }
  .white {
    color: white;
    opacity: 0.8;
  }

  figure {
    margin-bottom: 4rem;
  }

  header {
    display: flex;
    justify-content: space-between;
    padding: 2rem var(--base-padding) 0.75rem var(--base-padding);
    font-weight: 800;
    line-height: 1rem;
  }

  #main-heading {
    margin-top: -5rem;
    line-height: 1.25rem;
    text-align: right;
    padding-right: var(--base-padding);
  }

  p:first-of-type {
    padding-bottom: 0;
    /* font-size: large; */
  }

  p {
    padding: 1rem calc(2 * var(--base-padding));
    line-height: 1.5rem;
    font-weight: 400;
  }

  img {
    width: 100%;
  }

  main {
    height: 100vh;
    padding-bottom: 4rem;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }

  h3 {
    font-family: "Manrope", sans-serif;
  }
</style>
